version: '3.9'

services:
  mysql-otf:
    container_name: mysql-otf
    image: mysql:8.0
    volumes:
      - db:/var/lib/mysql
      - ./docker/mysql/otf.conf:/etc/mysql/conf.d/otf.conf
      - type: bind
        source: ./docker/mysql/tmp
        target: /tmp/mysql/
    environment:
      - MYSQL_DATABASE=dev_ouvretaferme
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
      - MYSQL_AUTHENTICATION_PLUGIN=mysql_native_password
      - ALLOW_EMPTY_PASSWORD=yes
    restart: always
    ports:
      - "3307:3306"
    networks:
      - app-tier
  redis-otf:
    container_name: redis-otf
    image: redis:latest
    restart: always
    entrypoint: redis-server --appendonly yes --maxmemory 512mb --maxmemory-policy allkeys-lru
    networks:
      - app-tier
    ports:
      - "6380:6379"
    volumes:
      - redisData:/data
  php-fpm-otf:
    container_name: php-fpm-otf
    user: 'root:users'
    ports:
      - "81:80"
    volumes:
      - type: bind
        source: ./src
        target: /var/www/otf/
      - sock:/tmp
      - ./docker/php-fpm/www.conf:/usr/local/etc/php-fpm.d/zz-docker.conf:ro
      - ./docker/php-fpm/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
    networks:
      - app-tier
    build:
      context: .
      dockerfile: ./docker/php-fpm/Dockerfile
  web-otf:
    container_name: web-otf
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - sock:/tmp
      - type: bind
        source: ./src
        target: /var/www/otf/
      - ./src/ouvretaferme/main/conf/rewrite/dev.cfg:/etc/nginx/conf.d/nginx.conf
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm-otf
    links:
      - php-fpm-otf
    networks:
      - app-tier
volumes:
  static:
  db:
  redisData:
  sock:
networks:
  app-tier:
